population/__pycache__
*/__pycache__
test/output/.Rproj.user
.Rproj.user
#*.png
.idea
*.egg-info/

.~lock.*
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# file too big for github
.experiment 

*stored_population.csv

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

## some results from the sandbox that is too large for the repository, 
## will upload the 7z compress results to sandbox/experiment_output/compress
sandbox/experiment_output/__pycache__/
sandbox/experiment_output/_compress/
sandbox/experiment_output/_run_output/
sandbox/experiment_output/_run_output_2/
sandbox/experiment_output/_run_output_3/

