population/__pycache__
*/__pycache__
*/__pycache__/*
test/output/.Rproj.user
.Rproj.user
*.png
.idea

.~lock.*
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# file too big for github
.experiment 

*stored_population.csv

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
